
body {
    font-family: Arial, sans-serif;
    background-color: #f8f4ec;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #843720;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 0;
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f76d04;
}

.container {
    width: 90%;
    margin: 80px auto 20px; 
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #555;
    text-align: center;
    font-size: 16px;
}

button {
    display: block;
    background-color: #fe2200;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}
button.circle-container{
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(128, 0, 0);
    border-radius: 50%;
    background-color: black;
    color: rgb(128, 0, 0);
    font-weight: bolder;
    overflow: visible;
    margin: 50px auto;
}
.circle-container .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FF5722;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: circleAnimation 2s infinite;
  }
  @keyframes circleAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }
  
  .circle:nth-child(1) {
    animation-delay: 0s;
    background-color: rgb(128, 0, 0);
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.5s;
    background-color: green;
  }
  
  .circle:nth-child(3) {
    animation-delay: 1s;
    background-color: rgb(128, 0, 0);
    /* border: 3px solid black; */
  }
  
  .circle:nth-child(4) {
    animation-delay: 1.5s;
    background-color: green;
  }
  div.help{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: rgb(255, 0, 0);
    color: black;
    text-align: center;
    align-content: center;
  }
button:hover {
    background-color: #f76d04;
}

.data-table {
    width: 70vw;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.data-table thead {
    background-color: #fe2200;
    color: rgb(48, 48, 48);
}

.data-table th, .data-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.data-table tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}

.data-table tbody tr:hover {
    background-color: #f76d04;
    color: rgb(0, 0, 0);
}

.data-table td {
    color: #000000;
}

p.error {
    color: #fe2200;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }
    
    .navbar li {
        margin: 10px 0;
    }

    .data-table thead {
        display: none;
    }

    .data-table, .data-table tbody, .data-table tr, .data-table td {
        display: block;
        width: 100%;
    }

    .data-table tr {
        margin-bottom: 15px;
    }

    .data-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .data-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
